<html>
<head>
    <title> Home Decor>Cushion Cover</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css">
    <script src="https://use.fontawesome.com/e6e1ced5c2.js"></script>

    <style>

    </style>
</head>
<body>

<div>
    <section class="section hero is-dark  is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns ">
                    <div class="column is-3">
                        <a href="../index.html">
                            <h1 class="title">HOME DECOR</h1>
                            <h2 class="subtitle">Turning Homes Into Heavens</h2>
                        </a>
                    </div>
                    <div class="column is-6">
                        <div class="control is-grouped">
                            <input class="input" type="text" placeholder="What your heaven needs today?">
                            <a class="button is-info">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span>Search</span>
                            </a>
                        </div>
                        <nav class="nav">
                            <div class="nav-center nav-menu">
                                <a href="../index.html" class="nav-item ">Home</a>
                                <a href="webpages/sofaCover.html" class="nav-item ">Sofa Covers</a>
                                <a href="#" class="nav-item is-active">Cushion Covers</a>
                            </div>
                        </nav>
                    </div>
                    <div class="column is-3">
                        <div class="control is-grouped">
                            <p class="control">
                                <a class="button is-dark">
                                    <span class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span>Cart</span>

                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-dark">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Log In/ Sign Up</span>
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title">Cushion Covers</h1>
            <h2 class="subtitle">Size - 16*16</h2>
        </div>

            <div class="columns">
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="../images/ca1.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="content">
                            <p class="subtitle">#1</p>
                        </div>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="../images/ca1.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="content">
                            <p class="subtitle">#1</p>
                        </div>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="../images/ca1.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="content">
                            <p class="subtitle">#1</p>
                        </div>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="../images/ca1.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="content">
                            <p class="subtitle">#1</p>
                        </div>
                    </div>
                </div>

            </div>

    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title">Cushion Covers</h1>
            <h2 class="subtitle">Size 24*24</h2>
        </div>
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="../images/ca1.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="content">
                        <p class="subtitle">#1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

</body>

